{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "received messages" %} | {{ block.super }}{% endblock title %}

{% block content %}
<h1>{% trans "received messages" %}</h1>
<p><a class="button" href="{% url "message_create" %}">{% trans "create a new message"|capfirst %}</a></p>
  <div class="toolbar">
    <form method="get" action="{{ request.path }}">
      <strong>{% trans "search by sender:" %}</strong>&emsp;
      <select name="sender" onchange="this.form.submit();">
        <option value="">{% trans "filter by user"|capfirst %}</option>
        {% for user in user_list %}
          <option value="{{ user.username }}" {% if user.username == request.GET.receiver %}selected{% endif %}>
            ({{ user.username }})
          </option>
        {% endfor %}
      </select>
    </form>
  </div>
  {% if no_matches %}
    <p></p>
    <p>{% trans "no matches found." %}</p>
  {% else %}
  {% if message_list_received %}
  {% for message in message_list_received %}
    {% with sender=message.sender %}
      <div>
        <ul class="message_room">
          <li>
            <p>{% trans "date" %}: {{ message.timestamp }}</p>
            <p>{% trans "message text" %}: {{ message.text }}</p>
            {% if message.image %}
              <p>{% trans "image" %}: <img src="{{ message.image.url }}" alt="{% trans "message image"|title %}" width="150"></p>
            {% endif %}
            <p>{% trans "from" %}: &nbsp; 
              <strong>{{ sender }}</strong>
              <div>
                {% if sender == request.user %}
                    {% if sender.profile.picture %}
                      <img src="{{ sender.profile.picture.url }}" alt="{% trans "profile picture"|title %}" width="30">
                    {% endif %}
                {% endif %}
              </div> 
            </p>           
              {% endwith %}
            </p>
          </li>
        </ul>
      </div>
    
  {% endfor %}
{% else %}
  <p>{% trans "No received messages." %}</p>
{% endif %}
{% endif %}

{% endblock content %}