{% extends "base.html" %}{% load i18n %} {% load static %}
{% block title %} {% trans "list" %} | {{ block.super }} {% endblock title %}
{% block content %}
<h1>{% trans "sent messages"|capfirst %}</h1>
<p><a class="button" href="{% url "message_create" %}">{% trans "create a new message"|capfirst %}</a></p>
  <div class="toolbar">
    <form method="get" action="{{ request.path }}">
      <strong>{% trans "search by receiver:" %}</strong>&emsp;
      <select name="receiver" onchange="this.form.submit();">
        <option value="">{% trans "filter by user"|capfirst %}</option>
        {% for user in user_list %}
          <option value="{{ user.username }}" {% if user.username == request.GET.receiver %}selected{% endif %}>
            ({{ user.username }})
          </option>
        {% endfor %}
      </select>
    </form>
  </div>
  {% if no_matches %}
    <p></p>
    <p>{% trans "No matches found." %}</p>
  {% else %}
    {% for message in message_list_send %}
      {% if request.user == message.sender %}
        <div>
          <ul class="message_room">
            <l>
              <p>{% trans "Message: " %} <c style="font-family:cursive; font-size:120%; font-weight:700;">{{ message.text }}</c>
              <p>{% if message.image %}
                  <a href="{{ message.image.url }}">
                    <img src="{{ message.image.url }}" alt="{% trans "message image"|title %}" width="150">
                {% endif %}
              </p>
              <p>{% trans "To: " %}
                {% for receiver in message.receiver.all %}
                  <a href="{% url 'user_detail' receiver.username %}">
                    <strong>{{ receiver }}</strong>
                    {% if receiver.profile.picture %}
                      <img src="{{ receiver.profile.picture.url }}" alt="{% trans "Profile Picture"|title %}" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 10px;">
                    {% endif %}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %} 
                  <a/>
              </p>
              <span style="float: right;">{% trans "Sent at: " %} {{ message.timestamp }}</span>
            </l>
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock content %}