{% extends "base.html" %}{% load i18n %} {% load static %}
{% block title %}{{ object }} {% trans "at" %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "user"|title %} {{ object.username }}</h1>
<div>
    {% if object.profile.picture %}
    <img src="{{ object.profile.picture.url }}" alt="{% trans "profile picture"|capfirst %}" style="border-radius: 50%; width: 200px; height: 200px; object-fit: cover; margin-right: 10px;">
    {% else %}
    <img src="{% static 'img/default_profile_picture.jpg' %}" alt="{% trans "no profile picture"|title %}"  style="border-radius: 50%; width: 200px; height: 200px; object-fit: cover; margin-right: 10px;">
    {% endif %}
    <div style="display: inline-block; vertical-align: top; width: 400px;">
        <p style="font-weight: bold; font-size: 24px;">{{ object.first_name }} {{ object.last_name }}</p>
        <p style="font-size: 20px; "> {{ object.profile.description|safe }}</p>
    </div>
    <div style="display: inline-block; vertical-align: top;">
        <p style="font-size: 20px;">{% trans "e-mail"|capfirst %}: {{ object.email }}</p>
    </div>    
    <div style="display: inline-block; vertical-align: top;">
        {% if object == request.user %}
        <p><a class="button" href="{% url 'user_update' %}">{% trans "edit profile"|capfirst %}</a></p>
        {% endif %}
    </div>   
</div>
<div class="box">
    <div class="box-meniu">
        {% if object == request.user %}
        <p style= "font-weight:bold"> &#8201; {% trans "message :"|capfirst %} </p>
        <p><a class="button" href="{% url 'message_create' %}">{% trans "new message "|capfirst %}&#9998;</a></p>
        <p><a class="button" href="{% url 'message_list_received' %}">{% trans "inbox "|capfirst %}&#9993;</a></p>
        <p><a class="button" href="{% url 'message_list_sent' %}">{% trans "sent "|capfirst %}&#10139;</a></p>
        {% endif %}
    </div>
</div>
    {% if object != request.user %}
        <p><a href="{% url 'message_create' %}?receiver={{ object.username }}" class="button">{% trans "new message"|capfirst %}&#9998;</a></p>
    {% endif %}

    <!--<p><a class="button" href="{% url 'user_blogs' object.username %}">{% trans "view all user's blogs"|capfirst %}</a> <br></p>
    -->
    <div class="blog-room">
        {% if not object.blogs.all %}
            <p>{% trans "no blog yet..."|capfirst %}</p>
        {% else %}
            {% if object.blogs.all|length > 3 %}
            {% for blog in object.blogs.all|slice:":3" %}
                    <!-- Rodyti paskutinius 3 blog'us -->
                    <div class="user-blog">
                        <div class="blog-details">
                            <div class="user-info">
                                <span style="font-style: italic;">{% trans "blog name"|capfirst %}</span> - <a href="{% url "blog_detail" blog.pk %}">{{ blog.name }}</a> 
                            </div>
                            <div style="margin: 1rem 0;" class="comment-text">
                            </div>
                            <span style="font-size: 12px;">{{ blog.created_at }}</span>
                        </div>
                    </div>
                {% endfor %}
                <!-- Nuoroda į visus blog'us -->
                <a href="{% url 'user_blogs' object.username %}">{% trans "View all user's blogs"|capfirst %}</a>
            {% else %}
                {% for blog in object.blogs.all %}
                    <!-- Rodyti visus vartotojo blog'us -->
                    <div class="user-blog">
                        <div class="blog-details">
                            <div class="user-info">
                                <span style="font-style: italic;">{% trans "blog name"|capfirst %}</span> - <a href="{% url "blog_detail" blog.pk %}">{{ blog.name }}</a> 
                            </div>
                            <div style="margin: 1rem 0;" class="comment-text">
                            </div>
                            <span style="font-size: 12px;">{{ blog.created_at }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
    
  <!--
<script>
    // Pasirūpiname, kad modalinio lango mygtukas veiktų
    document.addEventListener('DOMContentLoaded', function() {
        var modal = document.getElementById('sendMessageModal');
        var openButton = document.getElementById('openMessageModal');
        var closeButton = document.getElementsByClassName('close')[0];

        // Kai paspaudžiama atidarymo mygtukas, atidaromas modalinis langas
        openButton.onclick = function() {
            modal.style.display = 'block';
        }

        // Kai paspaudžiama uždarymo mygtukas, uždaromas modalinis langas
        closeButton.onclick = function() {
            modal.style.display = 'none';
        }

        // Kai paspaudžiama bet kur vieta už modalinio lango ribų, uždaromas modalinis langas
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    });
</script>
<div id="sendMessageModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>{% trans "Send Message" %}</h2>
        <form id="messageForm">
            <textarea id="messageTextarea" rows="4" cols="50" placeholder="{% trans "Write your message here..." %}"></textarea>
            <button type="submit">{% trans "Send" %}</button>
        </form>
    </div>
</div>-->
<!--<p>{% if object != request.user %}
    <a id="openMessageModal" class="button">{% trans "new message"|capfirst %}&#9998;</a>
{% endif %}
</p>-->
   
{% endblock content %}
