{% extends "base.html" %}{% load i18n %}
{% block title %}{{ blog.name }} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{{ blog.name }}</h1>
<p>{% trans "owner" %}: <a href="{% url "user_detail" blog.owner.username %}">{{ blog.owner }}</a></p>
<p>{% if request.user.is_authenticated %}
        <a style="font-size: 60px;" href="{% url 'blog_like' blog.pk %}?next={{ request.path }}">&#9829;&#65039;</a>
    {% else %}
        &#9829;
    {% endif %}   
    {% if blog.likes.count == 0 %}
        {% trans "no loves yet" %}
    {% else %}
        {{ blog.likes.count }}
        {% if blog.likes.count == 1 %}
            {% trans "user loves it" %}
        {% else %}
            {% trans "users love it" %}
        {% endif %}
    {% endif %}
</p>
{% if blog.description %}
<div class="user-content">{{ blog.description|safe }}</div>
{% endif %}
{% if blog.youtube_video %}
<div class='video-container'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{blog.youtube_video}}" title="YouTube video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
{% endif %}
<h style="text-align: right; font-size: 18px;">{% if blog.owner == request.user or request.user.is_superuser %}
    <p>
        <a class="button" href="{% url "blog_update" blog.pk %}">{% trans "edit"|capfirst %}</a>
        <a class="button" href="{% url "blog_delete" blog.pk %}">{% trans "delete"|capfirst %}</a>
        <a class="button" href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url "blog_list" %}{% endif %}">{% trans "return"|capfirst %}</a>
    </p>
</h>
{% endif %}
<h2 style="text-align: left;"> {% trans "communications"|capfirst %} ({{ blog.communications.count }}) </h2>


<a class="button" href="{% url 'communication_create' %}?blog={{ blog.name }}">
    {% trans "add"|capfirst %}
</a>
 
<div style="text-align: left;" class="communication-list">
    <ul>
        {% for communication in blog.communications.all %}
        <li class="communication-item">
            <a href="{% url "communication_detail" communication.pk %}?next={{ request.path|urlencode }}" class="communication-name">{{ communication.name }}</a>
            <span class="communication-description">{{ communication.description|truncatechars:500 |safe }}</span>
        </li>
        {% empty %}
        <li>{% trans "No related communications." %}</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
