{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "deleting"|capfirst %} {{ blog.name }} | {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "deleting blog"|capfirst %} {{ blog.name }}</h1>
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        {% trans "are you sure you want to delete blog" %}
        {{ blog.name }}? 
        {% trans "all blog's"|capfirst %} {{ blog.communications.count }}
        {% trans "communications will be deleted" %}.
    </p>
    <p>
        <button type="submit">{% trans "confirm"|capfirst %}</button>
        <a class="button" href="{% url "blog_detail" blog.pk %}">{% trans "change mind"|capfirst %}</a>
    </p>
</form>
{% endblock content %}
