{% extends "base.html" %}{% load static %}{% load static i18n %}
{% block title %}{{ block.super }} | {{ communication }}{% endblock title %}
{% block content %}
<p>{{ communication.owner }} / {{ communication.blog }}</p>
<p>{{ communication.description }}</p>
<p>{% trans "created"|capfirst %}: {{ communication.created_at }}, 
    {% if communication.created_at != communication.updated_at %}
        {% trans "updated" %}: {{ communication.updated_at }}
    {% endif %}
</p>
{% endblock content %}