{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "create a detail"|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "comment detail"|capfirst %}</h1>
<h3>{{ comment.title }}</h3>
    <p><strong>{% trans "created at:"|capfirst %}</strong> {{ comment.created_at }}</p>
    <p>{{ comment.note }}</p>
{% if comment.owner == request.user or request.user.is_superuser %} 
<a class="button" href="{% url "comment_edit" comment.pk %}">{% trans "edit"|capfirst %}</a>
<a class="button" href="{% url 'comment_delete' comment.pk %}">{% trans "delete"|capfirst %}</a>
{% endif %}
{% endblock content %}