{% extends "base.html" %}{% load i18n %}
{% block title %}{{ block.super }} {% trans "list" %}{% endblock title %}
{% block content %}
<h1>{% trans "communication topic"|capfirst %}</h1>
<div class="toolbar">
    <a class="button" href="{% url "communication_create" %}?next={{ next|urlencode }}">{% trans "create new"|title %}</a>
    <form method="get" action="{{ request.path }}">
        <select name="owner" onchange="this.form.submit();">
            <option value="">{% trans "filter by owner"|capfirst %}</option>
            {% for user in user_list %}
            <option value="{{ user.username }}" {% if user.username == request.GET.owner %}selected{% endif %}>
                {{ user.first_name }} {{ user.last_name }}
                ({{ user.username }})
            </option>
                {% endfor %}
        </select>
        <select name="blog_pk" onchange="this.form.submit();">
            <option value="">{% trans "filter by blog name"|capfirst %}</option>
            {% for blog in blog_list %}
                <option value="{{ blog.pk }}" {% if blog.pk|slugify == request.GET.blog_pk %}selected{% endif %}>{{ blog.name }}</option>
            {% endfor %}
        </select>
        <input type="text" name="search_name" value="{{ request.GET.search_name }}" placeholder="{% trans 'search by name' %}...">
        <button type="submit">&#128269;</button>
    </form>
</div>
<ul>
    <li class="list-table-header">
        <span style="float:left;">{% trans "name"|capfirst %}</span>
        <span style="float:right;">{% trans "owner"|capfirst %}</span>
    </li><br>
{% for communication in communication_list %}
    <li>
        <span style="float:left;"><a href="{% url 'communication_detail' communication.pk %}">{{ communication.name }} ({{ communication.comments.count }})&nbsp;</a></span>
        <span style="float:right;"><a href="{% url 'user_detail' communication.owner.username %}">{{ communication.owner }}</a></span>
        <!--<span style="float:right;">{{ communication.description|slice:":50"|safe}}</span>-->
    </li>
{% empty %}
    <li>{% trans "no communication found"|title %}</li>
{% endfor %}
</ul>
<!--
<div class ='nice'>
    <div class='fog'>
        {% trans "thanks and good day"|capfirst %}
    </div>
</div>-->
{% endblock content %}