{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "deleting"|capfirst %} {{ comment.title }} | {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "deleting comment"|capfirst %} {{ comment.title }}</h1>
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        {% trans "are you sure you want to delete comment" %}
        {{ comment.title }}? 
        {% trans "all comment's"|capfirst %} {{ comment.communications.count }}
        {% trans "communications will be deleted" %}.
    </p>
    <p>
        <button type="submit">{% trans "confirm"|capfirst %}</button>
        <a class="button" href="{% url "comment_detail" comment.pk %}">{% trans "change mind"|capfirst %}</a>
    </p>
</form>
{% endblock content %}
