{% extends "base.html" %}{% load static i18n %}
{% block title %}{{ communication }} {{ block.super }} {% endblock title %}
{% block content %}
<div style="text-align: left;"> <h1><a href="{% url "blog_detail" communication.blog.pk  %}">{{ communication.blog }}</a><br>{{ communication.name }}</h1>
<p>{% trans "owner" %}: <a href="{% url "user_detail" communication.owner.username %}">{{ communication.owner }}</a></p>
    <p>{% if request.user.is_authenticated %}
        <a style="font-size: 60px;" href="{% url 'communication_like' communication.pk %}?next={{ request.path }}">&#9829;&#65039;</a>
    {% else %}
        &#9829;
    {% endif %}   
    {% if communication.likes.count == 0 %}
        {% trans "no loves yet" %}
    {% else %}
        {{ communication.likes.count }}
        {% if communication.likes.count == 1 %}
            {% trans "user loves it" %}
        {% else %}
            {% trans "users love it" %}
        {% endif %}
    {% endif %}
</p>
</div>
{% if communication.youtube_video %}
<div class='tube'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{communication.youtube_video}}" title="YouTube video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<div>
{% endif %}
{% if communication.description %}
<div class="user-content">{{ communication.description|safe }}</div>
{% endif %}
<div class="toolbar">
    {% if communication.owner == request.user %}
        <a class="button" href="{% url "communication_update" communication.pk %}?next={{ request.GET.next|urlencode }}">
            {% trans "edit"|capfirst %}</a>
        <a class="button" href="{% url "communication_delete" communication.pk %}?next={{ request.GET.next|urlencode }}">
            {% trans "delete"|capfirst %}</a>
    {% endif %}
    <a class="button" href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url "communication_list" %}{% endif %}">
        {% trans "return"|capfirst %}</a>
</div>
<h style="text-align: right;"> 
    <p>{% trans "created"|capfirst %}: {{ communication.created_at }}, 
    {% if communication.created_at != communication.updated_at %}
        {% trans "updated" %}: {{ communication.updated_at }}
    {% endif %}
</p>
</h>
<div>
    <h2>{% trans "comments"|capfirst %}</h2>
    <div class="toolbar">
        <a class="button" href="{% url 'comment_create' %}?communication={{ communication.name }}">
            {% trans "add"|capfirst %}
        </a>
    <div class="comment-room">
        {% if not communication.comments.all %}
            <p>{% trans "no comments yet..."|capfirst %}</p>
        {% else %}
            {% for comment in communication.comments.all %}
                <div class="comment">
                        {% if comment.owner.profile.picture %}
                            <img src="{{ comment.owner.profile.picture.url }}" alt="{% trans "profile picture"|capfirst%}" style="border-radius: 50%; width: 50px; height: 50px; object-fit: cover; margin: 10px;" class="profile-picture">
                        {% else %}
                            <img src="{% static 'img/default_profile_picture.jpg' %}" alt="{% trans "no profile picture"|capfirst %}" style="border-radius: 50%; width: 50px; height: 50px; object-fit: cover; margin: 10px;"class="no-profile-picture">
                        {% endif %}
                    <div class="comment-details">
                        <div class="user-info">
                            <a href="{% url "user_detail" comment.owner.username %}">{{ comment.owner }} [{{comment.owner.first_name}} {{comment.owner.last_name}}]</a> - <span style= "font-style: italic;">{{comment.title}}</span>
                        </div>
                        <div style= "margin: 1rem 0;" class="comment-text">
                            <span>{{ comment.note }}</span>
                        </div>
                    <span style="font-size: 12px;" >{{ comment.created_at }}</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}